@charset "UTF-8";
/* 全局样式定义 Powered by 老梁出品*/
/*@import url("https://code.z01.com/Zfonts.css");*/
/* 全局样式定义 Powered by Zoomla!逐浪CMS z01.com*/
a { color: #0A0A0A; }

a:hover { text-decoration: none; color: currentColor; }

.mytop { background: #ccc; text-align: right; }
.mytop ul { padding-left: 0; margin-bottom: 0; list-style: none; }
.mytop li { display: inline-block; padding-left: 0.4rem; padding-right: 0.4rem; line-height: 2.26rem; font-size: 0.92rem; }

header { padding-top: 1rem; }
header .form-control { width: 40rem !important; height: 3rem; border: 5px solid #d2364c; border-radius: 0; }
header .input-group-text { border-radius: 0; background: #d2364c; color: #fff; border: 5px solid #d2364c; }
header .form-inline { padding-top: 1rem; }

.ask { margin-top: 1rem; }

.ihero .navbar { padding-left: 0; }
.ihero .navbar .navbar-brand { width: 20rem; background: #d2364c; color: #fff; text-align: center; }

.ibanner01, .ibanner02, .ibanner03 { height: 20rem; background: url(images/banner01.jpg) no-repeat bottom; background-size: cover; }

.ibanner02 { background-image: url(images/banner02.jpg); }

.ibanner03 { background-image: url(images/banner03.jpg); }

.ititle { display: flex; margin-top: 1rem; border-bottom: 2px solid #d2364c; }
.ititle a { margin-left: auto; line-height: 2rem; font-size: 0.9rem; }

.ititle01, .ititle02, .ititle03 { padding-right: 1rem; width: 12rem; line-height: 2rem; background: url("images/ititle01.png") left no-repeat; text-align: right; }

.ititle02 { background-image: url("images/ititle02.png"); }

.ititle03 { background-image: url("images/ititle03.png"); }

.ihome_list_box { margin-top: 1rem; border: 1px solid #ccc; }
.ihome_list_box ul { padding-left: 0; margin-bottom: 0; list-style: none; }
.ihome_list_box li { font-size: 1.42rem; font-weight: bold; text-align: center; border-radius: 10px; }
.ihome_list_box li img { width: 100%; }
.ihome_list_box li p { margin-bottom: 0; font-size: 0.8rem; color: #ccc; font-weight: normal; }
.ihome_list_box li span { padding-left: 1rem; }
.ihome_list_box li em { color: #d2364c; padding-right: 1rem; }
.ihome_list_box li:hover { box-shadow: 4px 4px 6px 6px rgba(204, 204, 204, 0.8); }

footer { margin-top: 1rem; padding-top: 1.6rem; padding-bottom: 1rem; color: #575555; background: #ccc; text-align: center; }
footer strong { font-size: 2.2rem; }
footer a { color: #575555; }

/*769-1930分辨率之间传统低分屏幕优化*/
/*小于768px手机优化*/
@media screen and (max-width: 768px) { header .form-control { width: auto !important; }
  .ihero .navbar { padding-right: 0; }
  .ihero .navbar .navbar-toggler { border: 1px solid #ccc; position: absolute; right: 0; }
  .ihero .navbar .navbar-toggler-icon { background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); } }
/*key:UG93ZXJlZCBieSBab29tbGEh6YCQ5rWqQ01TIHd3d3cuejAxLmNvbQ== */

/*# sourceMappingURL=global.css.map */
