/* 全局样式定义 Powered by 老梁出品*/
/*@import url("https://code.z01.com/Zfonts.css");*/

//CSS预编译文件基于Sass语法
//这是优化的Sass模板，可完全采用中文定义写作，如下面写法都是合格
//$中国变量之一:12px;
//$中国人民中华人民共和国变量之二:#ff0;
//.a1{width:$中国变量之一 ;}
//.a2{background: $中国人民中华人民共和国变量之二;}
//建议CSS注释写在代码段的起始处以使阅读更加流畅

/* 全局样式定义 Powered by Zoomla!逐浪CMS z01.com*/
@charset "utf-8";
@import "zoomlaCMS";

$主红色:#d2364c;

a{color:#0A0A0A;}
a:hover{text-decoration: none; color: currentColor;}

//最上方灰条
.mytop{ background: #ccc;text-align:right;
ul{@include myul;}
li{display: inline-block;padding-left: 0.4rem;padding-right: 0.4rem; line-height: 2.26rem;font-size: 0.92rem;}
}

//Logo导航区
header{padding-top: 1rem;
.form-control{width: 40rem !important; height: 3rem; border: 5px solid $主红色; border-radius: 0;}
.input-group-text{border-radius: 0;background: $主红色;color: #fff; border: 5px solid $主红色;}
.form-inline{padding-top: 1rem;}
i{margin-right: 0.4rem;}
}

//滚动公告
.ask{margin-top: 1rem;}

//首页大屏
.ihero{
.navbar{padding-left: 0;padding-bottom: 0 ;border-bottom: 2px solid $主红色;
	.navbar-brand{ width: 20rem; background:$主红色;color: #fff; text-align: center;}
	}
}


//首页滚动大图
.ibanner{}

.ibanner01{height: 20rem; background:url(images/banner01.jpg) no-repeat bottom;background-size: cover;}
.ibanner02{@extend .ibanner01;background-image:url(images/banner02.jpg);}
.ibanner03{@extend .ibanner01;background-image:url(images/banner03.jpg);}

//首页商品分类标题样式
.ititle{display: flex;margin-top: 1rem; border-bottom: 2px solid $主红色;
a{margin-left: auto;line-height: 2rem;font-size: 0.9rem;}
}

.ititle01{padding-right: 1rem; width:12rem;line-height: 2rem; background: url("images/ititle01.png") left no-repeat;text-align: right;}
.ititle02{@extend .ititle01;background-image: url("images/ititle02.png");}
.ititle03{@extend .ititle01;background-image: url("images/ititle03.png");}

.ihome_list{
.nav-link.active{color: $主红色;}
}

//首页商品列表
.ihome_list_box{margin-top: 1rem; border: 1px solid #ccc;
ul{@include myul;}
li{font-size: 1.42rem;font-weight: bold;text-align: center; border-radius:10px;
	img{width: 100%;}
	p{margin-bottom: 0; font-size: 0.8rem; color: #ccc;font-weight: normal;}
	span{padding-left: 1rem;}
	em{color: $主红色;padding-right: 1rem;}
	&:hover{@include 五秒消失切换;margin-top: -1rem; box-shadow: 4px 4px 6px 6px rgba(204,204,204,0.8);}
	}
}


//页脚
footer{margin-top: 1rem; padding-top: 1.6rem;padding-bottom: 1rem; color: #575555; background: #ccc;text-align: center;
strong{font-size: 2.2rem;}
a{color: #575555;}
}

//用户登录页定义
.ilogin{padding-top:6rem;padding-bottom: 2rem; background: url("images/login_bg.png") top no-repeat;background-size: cover;}

.ilogin_con{padding: 2rem 1rem; background:#e3e3e2;border-radius: 1rem;
h1{font-size: 1.68rem;}
}

//面包屑导航
.mysite{margin-top: 1rem;}

//商品详情页定义
.item_con{margin-top: 1rem;
h1{font-size: 1.68rem;}
}


.box { width: 100%; }

.tb-thumb { margin: 10px 0 0; overflow: hidden; 
li { margin-bottom: 0.2rem; padding-left: 0.2rem !important; padding-right: 0.2rem !important; float: left; background: none repeat scroll 0 0 transparent; }
li img { padding: 2px; width: 100%; height: 4rem; border: 1px solid #ddd; }
li a:focus { outline: none; }
}

.tb-s310, .tb-s310 a { width: 100%; }
.tb-s310, .tb-s310 img { width: 100%; padding: 1px; }
.tb-booth { border: 1px solid #cdcdcd; position: relative; z-index: 1; }

#thumblist { padding-left: 0.2rem; padding-right: 0.2rem; }
#thumblist .tb-selected img { border: 1px solid #f00; }

.con_shop_list{
.list-group-item { margin-bottom: 0; padding-left: 0; padding-right: 0; padding-bottom: 5px; border: none; border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
span { float: right; }
p{padding: 1rem; background: #eee;font-size: 0.9rem;color: #666;}
}

.con_shop_nums { float: right; width: 8.6rem; }
.con_shop_nums i { display: block; color: #fff; cursor: pointer; }

.zoomDiv { z-index: 999; position: absolute; top: 0px; left: 0px; width: 200px; height: 200px; background: #ffffff; border: 1px solid #cccccc; display: none; text-align: center; overflow: hidden; }

.zoomMask { position: absolute; background: url(images/mask.png) repeat scroll 0 0 transparent; cursor: move; z-index: 1; }

//购物车

.cartMain{
ul{@include myul;}
input[type="checkbox"]{display:none}
label{position:relative;display:inline-block;z-index:1;border:1px solid #b8b8b8;margin-left:10px;border-radius:1px;width:12px;height:12px;cursor:pointer}
label.mark{background:url("images/mark1.png") no-repeat -1px -1px}
}

.cartMain_hd{width:100%;height:50px;line-height:50px;color:#3c3c3c}
.cartMain_hd .cartTop{height:50px}
.cartMain_hd .cartTop .list_chk{width:80px;text-indent:30px}
.cartMain_hd .cartTop .list_con{width:312px}
.cartMain_hd .cartTop .list_chk label{position:absolute;left:10px;top:19px;margin:0}
.cartMain_hd .cartTop .list_info{padding:0;text-indent:15px}
.cartMain_hd .cartTop .list_con{text-indent:140px}
.cartBox{width:100%;margin-bottom:15px}
.cartBox .shop_info{position:relative;width:100%;height:38px;background-color:#fff;line-height:38px;vertical-align:baseline}
.cartBox .shop_info .all_check{position:relative;float:left;width:30px;height:38px}
.cartBox .shop_info .all_check input[type="checkbox"]{position:absolute;z-index:0;left:-20px;top:-20px}
.cartBox .shop_info .all_check .shop{position:absolute;top:13px}
.cartBox .shop_info .shop_name{float:left}
.cartBox .order_content{border:1px solid #ccc}
.cartBox .order_content a{display:block}

.order_lists{width:100%;height:130px;border-bottom:1px solid #e7e7e7;
&:last-child{border-bottom:none}
li{float:left;height:100%}
.list_chk{position:relative;width:50px}
.list_chk input[type="checkbox"]{position:absolute;z-index:0;left:-20px;top:-20px}
.list_chk label{margin:20px 0 0 24px}
.list_con{width:300px}
.list_con .list_img{width:90px;height:90px;margin-top:20px;float:left}
.list_con .list_img img{width:100%;vertical-align:top}
.list_con .list_text{margin:20px 0 0 10px;line-height:18px;width:200px;float:left}
.list_con .list_text a{color:#3c3c3c}
.list_con .list_text a:hover{color:#ff873e;text-decoration:underline}
.list_info{width:200px;box-sizing:border-box;padding:20px 0}
.list_info p{color:#9c9c9c;line-height:18px;margin-left:15px}
.list_price{width:120px}
.list_price .price{margin-top:20px;line-height:18px;font-family:Verdana,Tahoma,arial;color:#3c3c3c;font-weight:bold}
.list_amount{width:100px}
.list_amount .amount_box{margin-top:20px;width:77px;height:25px;position:relative}
.list_amount .amount_box input{width:39px;height:15px;line-height:15px;border:1px solid #aaa;color:#343434;text-align:center;padding:4px 0;background-color:#fff;z-index:2;position:absolute;left:18px;float:left}
.list_amount .amount_box a{float:left;height:23px;width:17px;border:1px solid #e5e5e5;background:#f0f0f0;text-align:center;line-height:23px;color:#444;position:absolute;top:0}
.list_amount .amount_box a:hover{border-color:#ff873e;text-decoration:none;color:#ff873e;z-index:3}
.list_amount .amount_box .reduce{left:0}
.list_amount .amount_box .reSty{color:#cbcbcb}
.list_amount .amount_box .reSty:hover{border-right:none;border-color:#e5e5e5;text-decoration:none;color:#cbcbcb}
.list_amount .amount_box .plus{border-left-color:transparent;right:0}
.list_sum{width:130px}
.list_sum .sum_price{line-height:18px;margin-top:20px;font-family:Verdana,Tahoma,arial;color:#ff0000;font-weight:bold}
.list_op{width:164px}
.list_op .del{margin-top:20px;line-height:18px}
}



.bar-wrapper{height:50px;background:#e5e5e5;
.bar-right{float:right;color:#3c3c3c}
.bar-right strong{color:#f40}
.bar-right .piece{float:left;min-width:110px;margin-right:20px;height:50px;line-height:50px}
.bar-right .piece .piece_num{display:inline-block;padding:0 10px;font-weight:700;font-size:18px;font-family:tohoma,arial}
.bar-right .totalMoney{float:left;min-width:100px;height:50px;line-height:50px}
.bar-right .totalMoney .total_text{float:right;font-weight:400;font-size:20px;font-family:Arial;vertical-align:middle;margin-right:10px;margin-left:15px}
.bar-right .calBtn{float:left}
.bar-right .calBtn a{display:block;width:120px;height:50px;color:#fff;background:#B0B0B0;cursor:not-allowed;font-size:22px;letter-spacing:5px;text-decoration:none;line-height:50px;text-align:center;border-radius:2px}
.bar-right .calBtn a.btn_sty{background:#f40;cursor:pointer}
}
.model_bg{position:absolute;top:0;left:0;bottom:0;right:0;background:rgba(0,0,0,.6);z-index:999;display:none}
.my_model{position:fixed;display:none;top:50%;left:50%;margin-top:-50px;margin-left:-200px;z-index:9999;width:360px;height:120px;border:1px solid #aeaeae;border-radius:3px;padding:20px;background:#fff}
.my_model .title{font-size:14px;color:#3c3c3c;font-weight:700;margin-bottom:20px}
.my_model .title .closeModel{float:right;cursor:pointer}
.my_model p{line-height:16px}
.my_model .opBtn{margin-top:20px}
.my_model .opBtn a{width:58px;height:28px;line-height:28px;text-align:center;-webkit-border-radius:1px;-moz-border-radius:1px;-ms-border-radius:1px;border-radius:1px;display:inline-block;margin-right:10px;font-weight:700}
.my_model .dialog-sure{background:#52a0e5;color:#fff;border:1px solid #52a0e5}
.my_model .dialog-close{background:#fff;border:1px solid #d9d9d9;color:#3c3c3c}

















/*769-1930分辨率之间传统低分屏幕优化*/
/*小于768px手机优化*/
@media screen and (max-width: 768px) { 
header .form-control{width: auto !important;}

.ihero .navbar{padding-right: 0;
.navbar-toggler{border:1px solid #ccc;position: absolute;right: 0;}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");}
}

.ilogin{padding-top:0;}

footer{
strong{font-size: 1.8rem;}
}


 }

/*key:UG93ZXJlZCBieSBab29tbGEh6YCQ5rWqQ01TIHd3d3cuejAxLmNvbQ== */
