body,table,tr,th,td,ul,ol,li,p {
	margin: 0;
	padding: 0;
}
body {
	overflow: hidden;
}
.header {
	text-align: center;
	min-height: 165px;
}
.header .toolbar {
	height: 28px;
	text-align: right;
	line-height: 28px;
	padding-right: 200px;
	background-color: #e3e3e2;
}
.header .toolbar a {
	color: #000;
	margin-right: 10px;
	text-decoration: none;
}
.header .content {
	height: 90px;
	padding-right: 200px;
}
.header .content img {
	float: left;
	height: 60px;
	margin: 15px 68px;
}
.header .content .search-wrap {
	float: right;
	height: 50px;
	width: auto;
	margin: 20px 0;
	border: 3px solid #d2364c;
}
.header .content .search-wrap input {
	width: 495px;
	border: none;
	line-height: 38px;
	padding: 3px 9px;
}
.header .content .search-wrap button {
	float: right;
	color: #fff;
	height: 44px;
	border: none;
	width: 100px;
	background-color: #d2364c;
}
.header .menu {
	height: 47px;
	padding-left: 25px;
	border-bottom: 3px solid #d2364c;
}
.header .menu li {
	float: left;
	height: 47px;
	display: block;
	line-height: 47px;
	text-align: center;
}
.header .menu li a {
	color: #000;
	display: block;
	margin: 13px 0;
	padding: 0 25px;
	line-height: 21px;
	text-decoration: none;
	border-left: 2px solid #f8f8f8;
}
.header .menu li.cur {
	color: #fff;
	width: 255px;
	margin-left: -1px;
	background-color: #d2364c;
}
.header .menu li.cur a {
	color: #fff;
	margin: 0;
	line-height: 47px;
	border-left: none;
}
._a{
	color: #000000;
	text-decoration:none
}
._a:hover{
	text-decoration:none
}


.test:after {
        content: '';
        position: absolute;
        left: 18px;
        top: 48px;
        bottom: 0;
        right: auto;
        height: 0.9px;
        width: 90%;
        background-color: #5B5B5B;
    }





















.slide {
  position: relative;
  margin: auto;
  width: 1500px;
  height: 500px;
  text-align: center;
  font-family: Arial;
  color: #FFF;
  overflow: hidden;
}

.slide ul {
  width: calc(1500px * 3);
  transition: all 0.5s;
}

.slide li {
  float: left;
  width: 1500px;
  height: 500px;
  list-style: none;
  line-height: 200px;
  font-size: 36px;
}

.slide li:nth-child(1) {
  background: #fff;
}

.slide li:nth-child(2) {
  background: #fff;
}

.slide li:nth-child(3) {
  background: #fff;
}

.slide input[name="sildeInput"] {
  display: none;
}

.slide label[for^="sildeInput"] {
  position: absolute;
  top: 450px;
  width: 20px;
  height: 20px;
  margin: 0 550px;
  line-height: 20px;
  color: #FFF;
  background: green;
  cursor: pointer;
  border-radius: 50%;
}

.slide label[for="sildeInput1"] {
  left: 0;
}

.slide label[for="sildeInput2"] {
  left: 30px;
}

.slide label[for="sildeInput3"] {
  left: 60px;
}

#sildeInput1:checked~ul {
  margin-left: 0;
}

#sildeInput2:checked~ul {
  margin-left: -1500px;
}

#sildeInput3:checked~ul {
  margin-left: -3000px;
}

#sildeInput1:checked~label[for="sildeInput1"] {
    color: #000;
    background: #fff;
}

#sildeInput2:checked~label[for="sildeInput2"] {
    color: #000;
    background: #fff;
}

#sildeInput3:checked~label[for="sildeInput3"] {
    color: #000;
    background: #fff;
}

.closes:hover{
	cursor: pointer
}