body,table,tr,th,td,ul,ol,li,p {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
}
.wrap {
	margin: auto;
	width: 1250px;
	text-align: left;
}
.wrap iframe {
	width: 100%;
	border: none;
}
.wrap .content {
	position: relative;
	min-height: 600px;
}
.wrap .content .block {
	margin-top: 18px;
}
.wrap .content .block .crumb {
	width: 100%;
	height: 25px;
	margin: 15px 30px;
}
.wrap .content .block .crumb li {
	float: left;
	width: auto;
	display: block;
	list-style: none;
}
.wrap .content .block .crumb li a {
	color: #999;
	width: auto;
	display: block;
	margin: 0 10px;
	text-decoration: none;
	border-bottom: 3px solid #fff;
}
.wrap .content .block .crumb li span {
	color: #999;
}
.wrap .content .block .quick {
	margin: 10px 35px;
}
.wrap .content .block .quick button {
	width: 82px;
	height: 32px;
	margin: 0 5px;
	border-radius: 5px;
	background-color: #fff;
	border: 1px solid #e3e3e2;
}
.wrap .content .block .quick button.cur {
	background-color: #e3e3e2;
	border-color: #e3e3e2 #a1a1a1 #a1a1a1 #e3e3e2;
}
.wrap .content .block .block-wrap {
	margin: 10px 25px;
}
.wrap .content .block .block-wrap .item {

	height: auto;
	padding: 10px;
	padding-bottom: 20px;
	display: inline-block;
	border: 1px solid #ccc;
}
.wrap .content .block .block-wrap.border .item {
	width: 243.5px;
}
.wrap .content .block .block-wrap .item img {
	width: 100%;
}
.wrap .content .block .block-wrap .item label {
	color: #ccc;
	width: 100%;
	font-size: 12px;
	padding: 12px 0;
}
.wrap .content .block .block-wrap .item label em {
	color: #fc2400;
	font-size: 16px;
}
.wrap .content .block .block-wrap .item label span {
	margin: 0 20px;
	text-decoration: line-through;
}
.wrap .content .block .block-wrap .item h3 {
	margin: 0;
	font-weight: bolder;
}
.wrap .content .block .block-wrap .item h3 button {
	color: #fff;
	float: right;
	width: 78px;
	height: 28px;
	border-radius: 5px;
	background-color: #fff;
	border: 1px solid #fc2400;
	background-color: #fc2400;
}
.wrap .content .block .pager {
	margin: 30px 0;
	text-align: center;
}
.wrap .content .block .pager button {
	padding: 0.5em 1.5em;
	background-color: #fff;
	border: 1px solid #e3e3e2;
}