body,table,tr,th,td,ul,ol,li,p {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
}
.wrap {
	margin: auto;
	width: 1250px;
	text-align: left;
}
.signin {
	background-size: cover;
	background-color: #e3e3e2;
	background-image: url('../images/signin-bg.jpg');
}
.signin .content {
	float: right;
	margin-right: 65px;
}
.signin .content .title {
	text-align: center;
	line-height: 35px;
	margin-bottom: 70px;
}
.signin .content .title a {
	color: #000;
	text-decoration: none;
}
.signin .content .main {
	min-height: 435px;
	background-color: #e3e3e2;
}
.signin .content .main .header {
	height: 34px;
}
.signin .content .main .header a {
	float: right;
	color: #000;
	margin-top: 12px;
	margin-right: 20px;
	text-decoration: none;
}
.signin .content .main .logo {
	text-align: center;
	margin-bottom: 40px;
}
.signin .content .main .logo div {
	width: auto;
	margin: auto;
	display: inline-block;
}
.signin .content .main .logo img {
	float: left;
	height: 42px;
}
.signin .content .main .logo span {
	float: left;
	color: #626262;
	font-size: 24px;
	line-height: 42px;
	margin-left: 10px;
}
.signin .content .main .input-wrap {
	clear: both;
	padding: 10px 20px;
	background-color: #fff;
	margin: 20px 30px 0 30px;
}
.signin .content .main .input-wrap img {
	float: left;
	height: 20px;
	margin-top: 4px;
	margin-left: 30px;
}
.signin .content .main .input-wrap input {
	width: 200px;
	border: none;
	font-size: 18px;
	margin-left: 10px;
}
.signin .content .main .input-wrap input.sort {
	width: 140px;
}
.signin .content .main .input-wrap .signin-cpt {
	float: right;
	width:120px;
	height: 45px;
	border: none;
	margin: -10px -20px;
	background-color: #e3e3e2;
}
.signin .content .main .input-wrap.nobg {
	margin-top: 45px;
	background: transparent;
}
.signin .content .main .input-wrap .btn-default,.signin .content .main .input-wrap .btn-inline {
	color: #fff;
	width: 125px;
	height: 45px;
	border: none;
	font-size: 18px;
	line-height: 45px;
	margin: -10px -20px;
	background-color: #d2364c;
}
.signin .content .main .input-wrap .btn-default {
	width: 240px;
}
.signin .content .main .input-wrap .btn-inline.lbtn {
	margin-right: 45px;
}
.signin .footer {
	clear: both;
	color: #888886;
	text-align: center;
	min-height: 120px;
	padding-top: 30px;
}
.signin .footer h1 {
	margin: 40px 0 30px 0;
}
.signin .footer p {
	line-height: 36px;
}